In [ ]:
print("hello world")

hello world

In [ ]:
print(123)
print(12.3)
print('a')

123
12.3
a

In [ ]:
hours=12.5
rate=1000.0
pay=hours*rate
print(pay)

12500.0

In [ ]:
x=1
print(x)

1

In [ ]:
x=x+1
print(x)

2

In [ ]:
x=2
x=3.9*2+(5*x)
print(x)

17.8

**Numerical operation**

In [ ]:
x=2
x=x+1
print(x)
y=33-22
print(y)
z=100/5
print(z)
a=2*3
print(a)
b=2**3
print(b)
c=3%2
print(c)

3
11
20.0
6
8
1

parenthesis,
power,
multiply,
add-->
left to right (if both add and sub accure first left side opertion perform then right) **bold text**

In [ ]:
x=1+2**3/4*5
print(x)

11.0

In [ ]:
a=1+2
print(a)
b="Muhammad "+"Hamad"
print(b)

3
Muhammad Hamad

**Type**

In [ ]:
a="M "+"Ali"
type(a)
print(a)
type(1)
#a+1    it give error as we cannot add 1 to string
#print(a)

M Ali

int

In [ ]:
print(float(1)+2)
a=4
#type(a)
f=float(a)
type(f)

3.0

float

In [ ]:
a="123"
print(int(a)+1)
b="Hamad"
print(int(b)+1)

124

ValueError: invalid literal for int() with base 10: 'Hamad'

**input**

In [ ]:
name=input("Enter the name : ")
print("Name : "+ name)
print("Name :",name)

Enter the name : Hamad
Name : Hamad
Name : Hamad

In [ ]:
inp=input("Enter your age : ")
x=int(inp)+1
print(x)

Enter your age : 2
3

**Conditional statement**,
**comparison operators**

In [1]:
x=5
if(x==5):
  print("equall")
if(x<=5):print("less than or equall")
if(x>=5):
  print("Greator or equall")
if(x>4):
  print("greator")
if(x<6):
  print("less")
if(x!=6):
  print("not equall")

equall
less than or equall
Greator or equall
greator
less
not equall

In [3]:
x=5
if(x==5):
  print("is 5")
  print("still 5")
print("after 5")
if(x==6):
  print("is 6")
  print("still 6")
print("done")

is 5
still 5
after 5
done

In [5]:
x=21
if(x>0):
  print("greator than 0")
  if(x<100):
    print("less than 100")
print("all done")

greator than 0
less than 100
all done

In [6]:
x=4
if(x>2):
  print(x,"greator than 2")
else:
  print(x,"less than 2")

4 greator than 2

In [7]:
x=5
if(x<2):
  print("smaller")
elif (x<20):
  print("medium")
else:
  print("large")
print("finish")

medium
finish

**Try and except error checking**

In [8]:
a=input("Enter your name : ")
try:
  b=int(a)
except:
  b=-1
print("Name :",b)
c=input("Enter age : ")
try:
  d=int(c)
except:
  d=-1
print("age :",d)

Enter your name : hamad
Name : -1
Enter age : 12
age : 12

In [10]:
x="hamad"
try:
  print("hello")
  print(int(x))
  print("how are u?")
except:
  x=-1
  print(x)
  print("how are u?")
print("all done")

hello
-1
how are u?
all done

In [11]:
a=input("Enter your age : ")
try:
  b=int(a)
except:
  b=-1
print("age :",b)
if(b>0):
  print("nice work")
else:
  print("not done correctly")

Enter your age : 2
age : 2
nice work

In [2]:
hours=input("Enter hours : ")
rate=input("Enter rate : ")
try:
  f_hours=float(hours)
  f_rate=float(rate)
except:
  print("You enter invalid input please enter integer or float")
  quit()
if(f_hours>40.0):
  reg=f_hours*f_rate
  otp=(f_hours-40.0)*(f_hours*0.5)
  pay=reg+otp
else:
  pay=f_hours*f_rate
print("pay : ",pay)

Enter hours : 2
Enter rate : 3
pay :  6.0

**functions**

In [3]:
def thing():
  print("hello")
  print("fun")
  print("done")
thing()
print("big")
thing()

hello
fun
done
big
hello
fun
done

In [9]:
big=max("Hello world")
print(big)
print(min("Hello world"))

w

In [5]:
def condition(val):
  if(val>=0):
    if(val<=100):
      print("greator than or equall to zero and less than or equall to hundred")
  elif(val<0):
    print("less than zero")
  else:
    print("greator than hundred")
condition(10)
condition(100)
condition(-1)

greator than or equall to zero and less than or equall to hundred
greator than or equall to zero and less than or equall to hundred
less than zero

In [6]:
def condition(val):
  if(val>=0):
    if(val<=100):
      return "greator than or equall to zero and less than or equall to hundred"
  elif(val<0):
    return "less than zero"
  else:
    return "greator than hundred"
x= condition(10)
y= condition(100)
z= condition(-1)
print(x)
print(y)
print(z)

greator than or equall to zero and less than or equall to hundred
greator than or equall to zero and less than or equall to hundred
less than zero

In [1]:
def sum(a,b):
  return a+b
x=sum(1,2)
print(x)

3

**loops**

In [2]:
x=5
while(x>0):
  print(x)
  x=x-1
print("done")
print(x)

5
4
3
2
1
done
0

In [2]:
while 1:
  line=input(">")
  if(line=="done"):
    break
  print(line)
print("all done")

>hello
hello
>hamad
hamad
>how
how
>are
are
>you
you
>done
all done

In [3]:
while 1:
  line=input(">")
  if(line=="#"):
    continue
  if(line=="done"):
    break
  print(line)
print("all done")

>hello
hello
>#
>hamad
hamad
>#
>done
all done

In [4]:
for i in [5,4,3,2,1]:
  print(i)
print("all done")

5
4
3
2
1
all done

In [5]:
brothers=["Hamad","ali","zeeshan"]
for brother in brothers:
  print(brother)
print("all done")

Hamad
ali
zeeshan
all done

In [6]:
brothers=["Hamad","ali","zeeshan"]
for brother in brothers:
  print("Good Morning",brother)
print("all done")

Good Morning Hamad
Good Morning ali
Good Morning zeeshan
all done

In [15]:
a=[2,5,15,10,44,20,74,32]
count=0
sum=0
max=0
for i in a:
  sum=sum+i
  if(i>max):
    max=i
  count=count+1
  print("count",count,"sum",sum,"max",max,"number",i)
print("max",max)
print("total sum",sum,"average",sum/count)

count 1 sum 2 max 2 number 2
count 2 sum 7 max 5 number 5
count 3 sum 22 max 15 number 15
count 4 sum 32 max 15 number 10
count 5 sum 76 max 44 number 44
count 6 sum 96 max 44 number 20
count 7 sum 170 max 74 number 74
count 8 sum 202 max 74 number 32
max 74
total sum 202 average 25.25

In [16]:
a=[2,5,15,10,44,20,74,32]
for i in a:
  if(i>20):
    print("greater than 20",i)
  elif(i<20):
    print("less than 20",i)
  else:
    print("equall to 20",i)
print("all done")

less than 20 2
less than 20 5
less than 20 15
less than 20 10
greater than 20 44
equall to 20 20
greater than 20 74
greater than 20 32
all done

In [20]:
found=False
print("before",found)
for value in [2,5,15,10,44,20,3,74,32]:
  if(value==3):
    found=True
  print(found,value)
print("after",found)

before False
False 2
False 5
False 15
False 10
False 44
False 20
True 3
True 74
True 32
after True

In [22]:
found=False
print("before",found)
for value in [2,5,15,10,44,20,3,74,32]:
  if(value==3):
    found=True
    print(found,value)
    break
  else:
    print(found,value)
print("after",found)

before False
False 2
False 5
False 15
False 10
False 44
False 20
True 3
after True

In [27]:
a=[3,5,15,10,44,20,2,74,32]
smallest=None
for value in a:
  if(smallest is None):
    smallest=value
  elif(value<smallest):
    smallest=value
  print(smallest,value)
print("smallest value",smallest)
print("all done")

3 3
3 5
3 15
3 10
3 44
3 20
2 2
2 74
2 32
smallest value 2
all done

In [38]:
value=None
sum=0
count=0
#while True:
while(value!="done"):
  value=input("Enter the value : ")
  try:
    ivalue=int(value)
    sum=sum+ivalue
    count=count+1
  except:
    if(value!="done"):
      print("invalid input")
    #continue
  #if(value=="done"):
    #break
print("Sum",sum,"count",count,"average",sum/count)

Enter the value : 1
Enter the value : 2
Enter the value : 3
Enter the value : 4
Enter the value : 5
Enter the value : donee
invalid input
Enter the value : done
Sum 15 count 5 average 3.0